.button9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 10px;
    text-align: center !important;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 160px;
    position: fixed;
    right: 15px;
    bottom: 95px;
    z-index: 999999;
}

.loader {
    position: fixed;
    right: 15px;
    bottom: 95px;
    z-index: 999999;
    margin: auto;
    border: 7px solid #EAF0F6;
    border-radius: 50%;

    border-top: 7px solid rgb(0, 119, 255);
    border-bottom: 7px solid rgb(0, 119, 255);
    width: 50px;
    height: 50px;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}